@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(242, 242, 248)
}

.section-header {
    text-align: center;
    margin: 10px auto;
}




/*#region Horizontal Scroll Areas*/
.side-scroll-container {
    display: flex;
    flex-wrap: nowrap; 
    overflow: auto;
}

.side-scroll-container::-webkit-scrollbar {
    display: none;
}

.scroll-item {
    flex: 0 0 auto;
    width: 65vw;
    box-sizing: content-box;
    margin: 5px;
    background-color: white;
}

.side-scroll-container::after {
    content: '';
    flex: 0 0 10px; 
}

.side-scroll-container::before {
    content: '';
    flex: 0 0 10px; 
  }

/*#endregion*/


/*#region NavBar*/


nav ul {
    justify-content: space-between;
}
/*endregion*/


/*#region Cover*/
#cover-section {
    height: calc(100vh - 42px);
    position: relative;
    overflow: hidden;
}

#cover-section img {
    height: 100%;    
}

.header-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header-overlay h1 {
    font-family: 'Ranchers', cursive;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    width: fit-content;
    transform: translate(-50%, -50%);
}
/*#endregion*/

/*#region About*/
#about-section {

}

#about-section p {
    padding: 0rem 1rem;
}
/*#endregion*/


/*#region Trending*/
.trending {
    min-width: 250px;
    margin: 5px;
    border-radius: 10px;
    border: grey solid 1px;
}

.trending figure {
    position: relative;
    margin-bottom: 0;
}

.trending .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.trending img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.trending h3 {
    position: absolute;
    color: white;
    font-size: 2.2rem;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.trending p {
    font-size: 0.9rem;
    margin: 0.4rem;
}

.trending .btn {
    margin: 0.4rem auto;
    display: block;
    width: fit-content;
}
/*#endregion*/


/*#region Quote*/
#review-section {
    background-image: url("https://images.unsplash.com/photo-1589804845133-49b5e06cc415?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 35vh;
    position: relative;
    margin: 10px 0;
}

#review-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#review-section p {
    font-weight: bold;
    color: white;
}

#review {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    font-size: 1.5rem;

}

#review-by {
    text-align: right;
    padding: 10px;
    font-size: 1.0rem;
}
/*#endregion*/

/*#region Events*/
.next-event {
    width: 80vw;
}

.next-event img {
    width: 100%;
}
/*#endregion*/