* {
    margin: 0;
    padding: 0;
}





/*#region Cover*/

#cover-section {
 width: 100%
}

#cover-section img {
    width: 100%;
    
}

/*#endregion*/





/*#region Trending*/

.side-scroll-container {
    display: flex;
    flex-wrap: nowrap; 
    overflow: auto;
    padding: 8px;
}


.trending {
    flex: 0 0 auto;
    width: 40vh;
    margin: 10px auto;
    margin: 0px 3px;
}

.last {
    padding-right: 5px;
}
.trending img {
    width: 100%;
}

/*#endregion*/